<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="index">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="contact">Feedback</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="ebook">e-books</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="compiler">Compiler</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="program">Sample examples</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Bull Temple Rd<br>
               Basavanagudi
              Bengaluru<br>
               Karnataka 560019 <br><br>
              <strong>Phone:</strong> +91 7051251928<br>
              <strong>Email:</strong> amitkumar.cs19@bmsce.ac.in<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About Codofilia</h3>
            <p> Codofilia is optimized for learning and training.
              <br><br>
                Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content.
 </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/assembly.bmsce.webproject" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/assemblylearning/" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Codofilia</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a src="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiTofC_6M7xAhXw7XMBHcj4D8oQFnoECAcQAw&url=https%3A%2F%2Fwww.bmsce.ac.in%2F&usg=AOvVaw20m8BoWEkD4C0HotKTVHdz">BMSCE</a>
      </div>
    </div>
  </footer><!-- End Footer -->