<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>arrays</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
 
 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>Moderna</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="" href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a  href="services.html">Services</a></li>

          <li><a href="team.html">Team</a></li>
          <li><a href="contact.html">contact </a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a class='active' href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a href="register.html">Sign in</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">


    
          

 
 </div>
 
    </main><!-- End #main -->
    <h1>ARRAYS</h1>
			<h3>Arrays can be seen as chains of variables. A text string is an example of a byte
			array, each character is presented as an ASCII code value (0..255).</h3>
<h3>Here are some array definition examples:</h3>
<h3>a DB 48h, 65h, 6Ch, 6Ch, 6Fh, 00h</h3>
<h3>b DB 'Hello', 0</h3>
<h3>b is an exact copy of the a array, when compiler sees a string inside quotes it
automatically converts it to set of bytes. This chart shows a part of the
memory where these arrays are declared:</h3>
<img src="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/languages/ARRAY.png">
<h3>You can access the value of any element in array using square brackets,</h3> 
<h2 style="color:brown;">For example:</h2>
<h3>MOV AL, a[3]</h3>
<h3>You can also use any of the memory index registers <b>BX, SI, DI, BP</b></h3> 
<h2 style="color:brown;">For example:</h2>
<h3>MOV SI, 3</h3>
<h3>MOV AL, a[SI]</h3>
<h3>If you need to declare a large array you can use <b>DUP</b> operator.</h3>
<h3>The syntax for <b>DUP</b>:</h3>
<h3>number DUP ( value(s) )</h3>
<h3>number - number of duplicate to make (any constant value).</h3>
<h3>value - expression that DUP will duplicate.</h3>
<h2 style="color:brown;">For example:</h2>
<h3>c DB 5 DUP(9)</h3>
<h3>is an alternative way of declaring:</h3>
<h3>c DB 9, 9, 9, 9, 9</h3>
<h3>One more example:</h3>
<h3>d DB 5 DUP(1, 2)</h3>
<h3>is an alternative way of declaring:</h3>
<h3>d DB 1, 2, 1, 2, 1, 2, 1, 2, 1, 2</h3>
<h3>f course, you can use <b>DW</b> instead of <b>DB</b> if it's required to keep values larger
then 255, or smaller then -128. <b>DW</b> cannot be used to declare strings. </h3>
<h1>Getting the Address of a Variable</h1>
<h3>There is <b>LEA</b> (Load Effective Address) instruction and alternative <b>OFFSET</b>
operator. Both <b>OFFSET</b> and <b>LEA</b> can be used to get the offset address of the
variable.</h3>
<h3><b>LEA</b> is more powerful because it also allows you to get the address of an
indexed variables. Getting the address of the variable can be very useful in
some situations, for example when you need to pass parameters to a
procedure. </h3>
<h2 style="color:brown;">Reminder:</h3>
<h3>In order to tell the compiler about data type,</h3>
<h3>these prefixes should be used:</h3>
<h3>BYTE PTR - for byte.</h3>
<h3>WORD PTR - for word (two bytes).</h3>
<h3>For example:</h3>
<h3>BYTE PTR [BX] ; byte access.</h3>
 <h3>or</h3>
<h3>WORD PTR [BX] ; word access.</h3>
<h3>emu8086 supports shorter prefixes as well:</h3>
<h3>b. - for BYTE PTR</h3>
<h3>w. - for WORD PTR</h3>
<h3>in certain cases the assembler can calculate the data type automatically.</h3>
<h3>Here is first example:</h3>
<p style="border:6px; border-style:solid; border-color:#808080; padding: 1em;">ORG 100h
<br>MOV AL, VAR1 ; check value of VAR1 by
<br>moving it to AL.
<br>LEA BX, VAR1 ; get address of VAR1 in BX.
<br>MOV BYTE PTR [BX], 44h ; modify the contents of
<br>VAR1.
<br>MOV AL, VAR1 ; check value of VAR1 by
<br>moving it to AL.
<br>RET
<br>VAR1 DB 22h
<br>END</p>
<h3>Here is another example, that uses OFFSET instead of LEA:</h3>
<p style="border:6px; border-style:solid; border-color:#808080; padding: 1em;">ORG 100h
<br>MOV AL, VAR1 ; check value of VAR1 by
<br>moving it to AL.
<br>MOV BX, OFFSET VAR1 ; get address of VAR1
<br>in BX.
<br>MOV BYTE PTR [BX], 44h ; modify the contents of
<br>VAR1.
<br>MOV AL, VAR1 ; check value of VAR1 by
<br>moving it to AL.
<br>RET
<br>VAR1 DB 22h
<br>END</p>
<h3>Both examples have the same functionality</h3>
<h3>These lines:</h3>
<h3>LEA BX, VAR1</h3>
<h3>MOV BX, OFFSET VAR1</h3>
<h3>are even compiled into the same machine code: MOV BX, num</h3>
<h3>num is a 16 bit value of the variable offset.</h3>
<h3>Please note that only these registers can be used inside square brackets (as
memory pointers): BX, SI, DI, BP!</h3>


  <!-- ======= Footer ======= -->
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About Moderna</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Moderna</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>