<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Contact - Codofilia</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

 
</head>

<body>

   <!-- ======= Header ======= -->
   <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="index"><span>Codofilia</span></a></h1>
      
        <!-- <a href="index"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a  href="index">Home</a></li>
          <li class="dropdown"><a href="#"><span>Courses</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="ebook">Ebooks</a></li>
              <li><a href="program">8086 programs</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li class="dropdown"><a href="#"><span>Installations</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="install1">Ubuntu <i class="fab fa-ubuntu"></i> </a></li>
                  <li><a href="install2">Masm assembler<i class="fas fa-code"></i></a></li>
                  <li><a href="https://www.java.com/download/ie_manual.jsp">Java<i class="fab fa-java"></i></a></li>
                  <li><a href="#"></a></li>
                  
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="about">About</a></li>
          <li><a  href="services">Services</a></li>
          <li><a href="team">Team</a></li>
          <li><a class="active" href="contact">Contact</a></li>
          <li><a href="register" id="signin">Sign in</a></li>

          <li class="dropdown" id="profile"><a href="#"><span>Profile</span> <i class="far fa-user"></i></a>
            <ul>
              <img src="assets/img/user.jpg"  width="40" height="40" style="margin-left: 40px; margin-top: 20px; align-items: center;"> </br>
              <li style="align-items: center;"><a href="#"><i class="fas fa-user-edit">  edit profile </i></a></li>
              <br>
              <li><a href="#">user details</a></li>
              <li><a href="#">reset password</a></li> <br>
              <li onclick="logout()"><a style="font-size: 20px;"><i class="fas fa-power-off"  >   Log out </i></a></li>
              
            </ul>
          </li>



        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  

    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact</h2>
          <ol>
            <li><a href="index">Home</a></li>
            <li>Contact</li>
          </ol>
        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Contact Section ======= -->
    <section class="contact" data-ao
    s="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>Bull Temple Rd, Basavanagudi, Bengaluru, Karnataka 560019</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>amitkumar.cs19@bmsce.ac.in<br>contact@example.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+91 7051251928<br>+91 0000000000</p>
                </div>
              </div>
            </div>

          </div>
          
          <div class="col-lg-6">
            
            <form action="/feedback" method="post" role="form" class="email-form">
              <h3> <span>Feedback</span></h3>
              <div class="row">
                <% if(typeof alert != 'undefined') { %>
                  <% alert.forEach(function(error) { %>
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          <%= error.msg %>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            
                          </button>
                        </div>
                  <% }) %>
              <% } %>
              <% if(typeof message != 'undefined') { %>
                <% message.forEach(function(error) { %>
                  <div class="alert alert-success d-flex align-items-center" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <div>
                        <%= error.msg %>
                      </div>
                      </div>
                <% }) %>
            <% } %>
              
                 
                
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea onclick="validatefeedback()" class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button  type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Map Section ======= -->
    <section class="map mt-2">
      <div class="container-fluid p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.481412056183!2d77.56333175022876!3d12.941017419005645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae158b11e34d2f%3A0x5f4adbdbab8bd80f!2sBMS%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1606878478470!5m2!1sen!2sin"  border:3px solid rgb(97, 112, 104);
        frameborder="2px" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </section><!-- End Map Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
  <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Our Newsletter</h4>
         

            <% if(typeof alert != 'undefined'){ %>
              <p>foo</p>
            <% } else{ %>  
              <p>Please provide ur email for more help...</p>
           <% } %>
          </div>
          <div class="col-lg-6">
          
            <form action="/subscribe" method="post">
              <input type="email" name="email"> 
              <div class="col-lg-6"><button  onclick="emailcheck()"  type="submit" value="Subscribe">Subscribe</button></div>
            </form>
          </div>
        </div>
      </div>
    </div></footer>
  <%- include('../partials/footer') %>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="validate.js"></script>
</body>

</html>