<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ebooks - Codofilia</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

 
</head>

<body>

   <!-- ======= Header ======= -->
   <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="index"><span>Codofilia</span></a></h1>
      
        <!-- <a href="index"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a  href="index">Home</a></li>
          <li class="dropdown"><a class="active" href="#"><span>Courses</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a  class="active" href="ebook">Ebooks</a></li>
              <li><a href="program">8086 programs</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li class="dropdown"><a href="#"><span>Installations</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="install1">Ubuntu <i class="fab fa-ubuntu"></i> </a></li>
                  <li><a href="install2">Masm assembler<i class="fas fa-code"></i></a></li>
                  <li><a href="https://www.java.com/download/ie_manual.jsp">Java<i class="fab fa-java"></i></a></li>
                  <li><a href="#"></a></li>
                  
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="about">About</a></li>
          <li><a href="services">Services</a></li>
          <li><a href="team">Team</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a href="register" id="signin">Sign in</a></li>

          <li class="dropdown" id="profile"><a href="#"><span>Profile</span> <i class="far fa-user"></i></a>
            <ul>
              <img src="assets/img/user.jpg"  width="40" height="40" style="margin-left: 40px; margin-top: 20px; align-items: center;"> </br>
              <li style="align-items: center;"><a href="#"><i class="fas fa-user-edit">  edit profile </i></a></li>
              <br>
              <li><a href="#">user details</a></li>
              <li><a href="#">reset password</a></li> <br>
              <li onclick="logout()"><a style="font-size: 20px;"><i class="fas fa-power-off"  >   Log out </i></a></li>
              
            </ul>
          </li>



        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  
  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Ebooks <i class='fas fa-book'></i></h2>
          <ol>
            <li><a href="index">Home</a></li>
            <li>Ebooks</li>
          </ol>
        </div>

      </div>
    </section><!-- End Contact Section -->
    <section class="features">
      <div class="container">

        <div class="section-title">
          <h2> C <i class="fas fa-code"></i></h2>
          <p> C is a general-purpose, procedural computer programming language supporting structured programming, lexical variable scope, and recursion, with a static type system. By design, C provides constructs that map efficiently to typical machine instructions.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/img/ebook_image1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4">
            <h3>NPTEL COURSE</h3>
            <p class="fst-italic">
              
            </p>
            <ul>
              <li><i class="bi bi-check"></i> basic C programming and assembly language</li>
              <li><i class="bi bi-check"></i> Materials for NPTEL course </li>
            </ul>
          </div>
        </div>

        

      </div>
    </section><!-- End Features Section -->
    <!-- ======= contact renamed as ebook Section ======= -->
    <section class="ebook" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
  

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="container">
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 1  <a href="https://youtu.be/vydldXpA6ec" ><i class="fab fa-youtube"></i></a>   <a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                  <p> introduction to assembly language</p>
                </div>
              </div></div>

              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 2  <a href="https://youtu.be/SnzvWUFxcYU"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 3  <a href="https://youtu.be/olagryvWnvA"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 4a  <a href="https://youtu.be/2wIc9YXp0Sw"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 4b  <a href="https://youtu.be/kHGBE4m_VJo"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 5  <a href="https://youtu.be/VREYgGjjox0"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 6  <a href="https://youtu.be/IR8kix_lUm4"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 7  <a href="https://youtu.be/OmC7eHVybfg"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 8  <a href="https://youtu.be/OmC7eHVybfg"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 9  <a href="https://youtu.be/GTH1mNz_4jg"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 10  <a href="https://youtu.be/IhRqZPu9k1w"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 11  <a href="https://youtu.be/XM7f5x94068"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 12  <a href="https://youtu.be/XuSmHJSH4lo"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 13  <a href="https://youtu.be/kE9QyG6Bexw"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 14  <a href="https://youtu.be/YjgvYaU3zY0"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 15  <a href="https://youtu.be/gSeEXvMZVWo"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 16  <a href="https://youtu.be/FYdYkiIHvRQ"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 17a  <a href="https://youtu.be/DvuD8JWNau4"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 17b  <a href="https://youtu.be/_O3e2HdLFQ8"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 18  <a href="https://youtu.be/gtdvCBxY0zg"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 19  <a href="https://youtu.be/ce-3kiI6j78"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
              <div class="col-md-12">
                <div class="info-box">
                
                  <h3>Lecture 20  <a href="https://youtu.be/XuCL9HBm_HQ"><i class ="fab fa-youtube" ></i></a><a href="https://drive.google.com/file/d/1yaHI3OZEzUIBKVJK36wmik16UZ8t40kR/view"><button class="btn info">Download</button></a></h3>
                </div>
              </div>
             
            
            </div>

          </div>
          
          
            
            
              
              

        </div>

      
    </section><!-- End Contact Section -->

  
    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Our Newsletter</h4>
            <p>Please provide ur email for more help...</p>
          </div>
          <div class="col-lg-6">
            <form action="/subscribe" method="post" role="form">
              <input type="email" name="email"> <div class="col-lg-6"><button  onclick="emailcheck()"  type="submit" value="Subscribe">Subscribe</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="index">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Bull Temple Rd<br>
               Basavanagudi
              Bengaluru<br>
               Karnataka 560019 <br><br>
              <strong>Phone:</strong> +91 7051251928<br>
              <strong>Email:</strong> amitkumar.cs19@bmsce.ac.in<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About Codofilia</h3>
            <p> Codofilia is optimized for learning and training.
              <br><br>
                Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content.
 </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/assembly.bmsce.webproject" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Codofilia</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
      
        Designed by <a src="about">#</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="https://kit.fontawesome.com/76b626d43d.js" crossorigin="anonymous"></script>
</body>

</html>