<!DOCTYPE html>
<html lang="en">




<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Codofilia </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="index"><span>Codofilia</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active " href="index">Home</a></li>
          <li class="dropdown"><a href="#"><span>Courses</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="ebook">Ebooks<i class="fas fa-book"></i></a></li>
              <li><a href="program">8086 programs <i class="fa fa-code"></i></a></li>
              <li><a href="compiler">Online compiler <i class="fas fa-code-branch"></i></a></li>
              
              <li class="dropdown"><a href="#"><span>Installations</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="install1">Ubuntu <i class="fab fa-ubuntu"></i></a></li>
                  <li><a href="install2">Masm assembler<i class="fas fa-code"></i></a></li>
                  <li><a href="https://www.java.com/download/ie_manual.jsp">Java<i class="fab fa-java"></i></a></li>
                  <li><a href="#"></a></li>
                  
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="about">About</a></li>
          <li><a href="services">Services</a></li>
          <li><a href="team">Team</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a href="register" id="signin">Sign in</a></li>

          <li class="dropdown" id="profile"><a href="#"><span>Profile</span> <i class="far fa-user"></i></a>
            <ul>
              <img src="assets/img/user.jpg"  width="40" height="40" style="margin-left: 40px; margin-top: 20px; align-items: center;"> </br>
              <li style="align-items: center;"><a href="#"><i class="fas fa-user-edit">  edit profile </i></a></li>
              <br>
              <li><a href="#">user details</a></li>
              <li><a href="#">reset password</a></li> <br>
              <li onclick="logout()"><a style="font-size: 20px;"><i class="fas fa-power-off"  >   Log out </i></a></li>
              
            </ul>
          </li>



        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>


  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2><i class='fas fa-laptop-code'></i></h2>
          <ol>
            <li><a href="index">Home</a></li>
            <li>Codofilia</li>
          </ol>
        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= contact renamed as ebook Section ======= -->
    <!-- ======= Features Section ======= -->
    <section class="features">
      <div class="container">

        <div class="section-title">
          <h2>Codofilia</h2>
          <p>Learn , code and execute.</p>
        </div>

      
    <br>
    <br>
  

    <div class="row" data-aos="fade-up">
      <div class="col-md-5">
        <img src="8086img/intel8086img.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-4">
        <h3>8086 <i class="fas fa-microchip"></i></h3>
        <p class="fst-italic">
          8086 Microprocessor is an enhanced version of 8085Microprocessor that was designed by Intel in 1976. It is a 16-bit Microprocessor having 20 address lines and16 data lines that provides up to 1MB storage.
        </p>
        <ul>
        <li> <i class= "bi bi-check"></i> Organization of 8086 processor </li>
        <li> <i class= "bi bi-check"></i> Assembly Language Syntax </li>
        <li> <i class= "bi bi-check"></i> Data Representation</li>
        <li> <i class= "bi bi-check"></i> Variable Declaration </li>
        <li> <i class= "bi bi-check"></i> Instruction Types:</li>
      </ul>

          <p class="fst-italic">1. flow instructions </p> 
          <p class="fst-italic">2. Arithmetic instructions </p>
          <p class="fst-italic">3. Bit manipulation instructions </p>
          <p class="fst-italic">4. Flow control instructions</p>
        <ul>
          <li> <i class="bi bi-check"></i> Memory Segmentation</li>
          <li> <i class="bi bi-check"></i> Program Structure</li>
          <li> <i class="bi bi-check"></i> Addressing Modes</li>
          <li> <i class="bi bi-check"></i> Input and Output</li>
          <li> <i class="bi bi-check"></i> The stack</li>
          <li> <i class="bi bi-check"></i> Procedures</li>
          <li> <i class="bi bi-check"></i> Macros</li>
          <li> <i class="bi bi-check"></i> String </li>
          <li> <i class="bi bi-check"></i> BIOS and DOS Interrupts</li>
        </ul>
      </div>
    </div>

     <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="basiclogo/8051logo.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3> 8051 <i class="fas fa-microchip"></i> </h3>
            <p class="fst-italic">
              I/O instructions are used to input data from peripherals, output data to peripherals, or read/write i/0 controls.
            </p>
           
            <ul>
              <li> <i class= "bi bi-check"></i> Introduction to 8051 microcontroler </h4>
                <li> <i class= "bi bi-check"></i>Artitecture of 8051 microcontroller</h4>
                <li> <i  class="bi bi-check"></i>pin description</h4>
                <li> <i  class="bi bi-check"></i>8051 stack</h4>
                <li> <i  class="bi bi-check"></i> Bit Addressables</h4>
            </ul>
          </div>
        </div>

       

    
    

 

  </div>
</section><!-- End Features Section -->               
 



     
    
     
     
  

    
</div>
 

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<%- include('../partials/footer') %>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/purecounter/purecounter.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="https://kit.fontawesome.com/76b626d43d.js" crossorigin="anonymous"></script>
</body>

</html>