<!DOCTYPE html>
<html>
<head>
<title>
   assemblylogin..
</title>
<script src="https://kit.fontawesome.com/76b626d43d.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css" type="text/css">
        <link rel="stylesheet" href="style1.css" type="text/css">
        <link rel="icon" href="asmlogo.jpg" type="text/icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8" /> 
    </head>
    <body>
        <nav>
            
                <div class="top">
                   <a href=""><i class ="fas fa-code"></i></a> 
                    <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/firstpage.html"><i class="fas fa-home">Home </i>  </a>
                    <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/ebook1.html"><i class="fas fa-book-open">e-books</i></a>
                    
                 
                 <a href ="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/programs.html">8086 examples</a>
            
           <!---- <div id="reg"> <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/registration.html">Register</a>
             </div> -->
            
             <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/registration.html">Sign in  <i class="fas fa-sign-in-alt"></i> </a></div>
                
            
        </nav>
        
        <div class="dropdown">
               
          <button class="dropbutton"><i class="fas fa-microchip"></i>8086  <i class="fas fa-caret-down"></i></button>
          <div class="content">
          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/pin8086.html"> Artitecture and Pin diagram</a>
          
          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material2.html">Registers</a>
          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material3.html">Memory accessing</a>
          
          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material5.html">variables</a>
          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material6.html">Arrays</a>

          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material8.html">Interrupts</a>

          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material12.html">Procedures</a>

        </div>
        </div>
                    <div class="dropdown">
                      <button class="dropbutton"><i class="fas fa-microchip"></i>8051  <i class="fas fa-caret-down" ></i></button>
                      <div class="content">
                      <a href="#">link1</a>
                      <a href="">link2</a>
                      <a href="">link3</a>
                      <a href="">link4</a>
                      <a href="">link5</a>
                      <a href="">link6</a>
                      <a href="">link7</a>
                    </div>
                    </div>
                    
                    
                    <div class="dropdown">
                      <button class="dropbutton"><i class="fas fa-project-diagram"></i>Compilers <i class="fas fa-caret-down"></i></button>
                      <div class="content">
                      <a href="https://www.onlinegdb.com">Online GDB Compiler </a>
                      <a href="https://www.tutorialspoint.com/compile_assembly_online.php">MASM compiler</a>
                      <a href="https://www.tutorialspoint.com/compile_c_online.php"><i class="fas fa-code" style="width:25px;height:25px;"></i>C Compiler</a>
                      <a href="https://www.tutorialspoint.com/compile_java_online.php"><i class ="fab fa-java" style="width:25px;height:25px;"></i>JAVA Compiler</a>
                      
                    </div>
                    </div>
               
            
       
            <div class="material">
              <h1> 8086 <i class="fas fa-microchip"></i></h1>
             
              
              <img src="8086img/8086img.jpg">
              <ul>
                <li> <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/pin8086.html">Artitecture and pin diagram of 8086 Microprocessor </a><i class="fas fa-microchip"></i></li>
                <li> <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material1.html">Introduction to 8086 Assembly<i class="fas fa-microchip"></i> </a></li>
              
                <li><a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material2.html">registers</a></li>
                <li><a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material3.html">memory accessing in  8086</a></li>
                <li><a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material4.html">MOV instruction</a></li>
                <li><a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material5.html">Variables</a></li>
                <li><a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material6.html">Arrays</a></li>
                <li><a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material7.html">constants</a></li>
                <li><a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material8.html">interrupts</a></li>
                <li><a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material9.html">Library of Common Functions</a></li>
                <li><a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material10.html">arithemetic and logic instructions</a></li>
                <li><a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material11.html">program flow control</a></li>
                <li><a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material12.html">procedures</a></li>
                <li><a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material13.html">Stack</a></li>
              </ul>

                

		        <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/firstpage.html">back<i class="fas fa-arrow-circle-left" style="width:25px; height:30px;"></i> </a>
            <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material1.html">next<i class="fas fa-arrow-circle-right	" style="width:25px; height:30px;"></i> </a>
            </div>

     
     <div class="lowpanel">
      <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/about.html">About</a>
      <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/contact.html"><i class="fas fa-map-marker-alt"></i>contact us</a>
         <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/feedback.html"><i class="fas fa-comment-dots"></i>feedback</a>
         
         
         <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/install0.html"><i class="fas fa-hands-helping"></i>Installations help</a>
        
     </div>
     
     <div class="socialmedia" >
      <a href="https://www.facebook.com/amit70512/"  ><i class="fab fa-facebook" style="font-size:48px;"> </i></a>
      <a href="https://www.instagram.com/assemblylearning/"><i class="fab fa-instagram"style="font-size:48px;"></i></a>
      <a href=""><i class="fab fa-twitter" style="font-size:48px;"></i></a>
      
    </div>
    </body>
</html>
