<!DOCTYPE html>
<html>
<head>
<title>
     Learn Assembly easily..
</title>
<script src="https://kit.fontawesome.com/76b626d43d.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css" type="text/css">
        <link rel="stylesheet" href="style1.css" type="text/css">
        <link rel="icon" href="asmlogo.jpg" type="text/icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8" /> 
    </head>
    <body>
        <nav>
            
                <div class="top">
                   <a href=""><i class ="fas fa-code"></i></a> 
                    <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/firstpage.html"><i class="fas fa-home">Home </i>  </a>
                    <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/ebook1.html"><i class="fas fa-book-open">e-books</i></a>
                    
                 
                  <a href ="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/programs.html">8086 examples</a>
           <!---- <div id="reg"> <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/registration.html">Register</a>
             </div> -->
             
             <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/registration.html">Sign in  <i class="fas fa-sign-in-alt"></i> </a></div>
                
            
        </nav>
        
        <div class="dropdown">
               
          <button class="dropbutton"><i class="fas fa-microchip"></i>8086  <i class="fas fa-caret-down"></i></button>
          <div class="content">
          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/pin8086.html"> Artitecture and Pin diagram</a>
          
          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material2.html">Registers</a>
          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material3.html">Memory accessing</a>
          
          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material5.html">variables</a>
          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material6.html">Arrays</a>

          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material8.html">Interrupts</a>

          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/material12.html">Procedures</a>

        </div>
        </div>
        <div class="dropdown">
          <button class="dropbutton"><i class="fas fa-microchip"></i>8051  <i class="fas fa-caret-down" ></i></button>
          <div class="content">
          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/8051material1.html">Introduction to 8051</a>
          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/8051material2.html">Artitecture</a>
          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/8051material3.html">Pin description</a>
          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/8051material4.html">8051 Stack</a>
          <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/8051material5.html">Bit Addressable</a>
          
        </div>
        </div>
                    
                    <div class="dropdown">
                      <button class="dropbutton"><i class="fas fa-project-diagram"></i>Compilers<i class="far fa-caret-down"></i></button>
                      <div class="content">
                      <a href="https://www.onlinegdb.com">Online GDB Compiler </a>
                      <a href="https://www.tutorialspoint.com/compile_assembly_online.php">MASM compiler</a>
                      <a href="https://www.tutorialspoint.com/compile_c_online.php"><i class="fas fa-code" style="width:25px;height:25px;"></i>C Compiler</a>
                      <a href="https://www.tutorialspoint.com/compile_java_online.php"><i class="fab fa-java"></i>JAVA Compiler</a>
                    
                    </div>
                    </div>
               
            
       
        <div class="material">
            <h1>1. How to Download & Install <i class="fab fa-linux"></i>Linux (Ubuntu <i class="fab fa-ubuntu"></i>) in Windows<i class="fab fa-windows"></i></h1>
             <h3>Well, now as you know that Linux <i class="fab fa-linux"></i> is open-source, free to use kernel. It is used by programmers, organizations, profit and non-profit companies around the world to create Operating systems to suit their individual requirements.</h3>
              <h3>To prevent hacking attempts, many organizations keep their Linux operating systems private.

                Many others make their variations of Linux available publicly so the whole world can benefit at large.
                
                These versions/ types /kinds of Linux operating system are called Distributions.</h3>
               <a  href="https://youtu.be/ybHxztXXE-4">:Linux <i class="fab fa-linux"></i> distribution<i class="fab fa-youtube"></i></a>
               <h3 >Installing Linux <i class="fab fa-linux"></i>
                Let's look the various methods we can use to install Ubuntu.
                
               <h1>1.  Installing Linux using USB stick <i class="fab fa-usb"></i></h1>  
               <h3> This is one of the easiest methods of installing Ubuntu or any distribution on your computer. Follow the steps.
              </h3>
              <img src="languages/usbstick.png" alt="" width="350" height="250" >
              <h3>Step 1) Download the .iso or the OS files on your computer from this <a href="http://www.ubuntu.com/download/desktop">link</a>.</h3>
              <img src="languages/ubuntu1.png" alt="" width="500" height="370">
              <h3>Step 2) Download free software like <a href="https://www.pendrivelinux.com/universal-usb-installer-easy-as-1-2-3/">'Universal USB installer' </a>to make a bootable USB stick.</h3>
              <img src="languages/ubuntu2.png" alt="" width="350" height="250">
              <h3>
                Step 3) Select an Ubuntu Distribution form the dropdown to put on your USB.</h3>
                 <h3>Select your Ubuntu iso file download in step 1.</h3> 
                <h3>Select the drive letter of USB to install Ubuntu and Press create button.</h3>
                <img src="languages/ubuntu3.png" alt="" width="400" height="320">
                <h3>Step 4) Click YES to Install Ubuntu in USB.</h3>
                <img src="languages/ubuntu4.png" alt="" width="450" height="380">
                <h3>Step 5) After everything has been installed and configured, a small window will appear Congratulations! You now have Ubuntu on a USB stick, bootable and ready to go.</h3>
                <img src="languages/ubuntu5.png" alt="" width="500" height="320">
                 <h1>* Installing <i class="fab fa-linux"></i> Linux using CD-ROM<i class="fas fa-compact-disc"></i></h1>
                 <h3> Those who like the way a CD runs should try using this method.</h3>
                <img src="languages/ubuntu6.png" alt="" width="360" height="320">

                <h3>Step 1) Download the .iso or the OS files onto your computer from this link <a href="http://www.ubuntu.com/download/desktop">http://www.ubuntu.com/download/desktop.</a> </h3>
                  <h3>Step 2) Burn the files to a CD.</h3>
                 <img src="languages/ubuntu7.png" alt="" width="360"  height="320">
                 
                 <h3>Step 3) Boot your computer from the optical drive and follow the instructions as they come.</h3>
                  <h1>Installing Linux using Virtual Machine<i class="far fa-hdd"></i></h1>
                  <h3>This is a popular method to install a Linux operating system. The virtual installation offers you the freedom of running Linux on an existing OS already installed on your computer. This means if you have Windows running, then you can just run Linux with a click of a button</h3>
                 <h3>Virtual machine software like Oracle VM can install Ubuntu in easy steps. Let us look at them.</h3>
                  <h3>PART A) Download and Install Virtual Box<i class="far fa-hdd"></i> </h3>
                  <h3>Download Virtual box using this <a href="https://www.virtualbox.org/wiki/Downloads">link</a></h3>
                  <h3>Depending on your processor and OS, select the appropriate package. In our case, we have selected Windows with AMD</h3>
                 <img src="languages/ubuntu8.png " alt="" width="550px" height="400px">
                 <h3>Once the  download<i class="fas fa-download"></i>  is complete, Open setup file and follow the steps below:</h3>
                 <h3>Step-1) Click On next</h3>
                 <h3>Step-2) Select your  directory to install VirtualBox and click on next</h3>
                 <img src="languages/ubuntu9.png" alt="" width="450px"  height="400px">
                 <h3>Step-3) Select Desktop icon and click on next, now click on yes</h3>
                 <h3>Step-4) Click On install.</h3>
                 <img src="languages/ubuntu10.png" alt=""  width="450px" height="400px">
                 <h3>Step-5) Now installation of the virtual box will start. Once complete, click on Finish Button to start Virtual Box</h3>
                  <h3>    PART B) Download Ubuntu<i class="fab fa-ubuntu"></i></h3>
                  <h3>Visit this link to <a href="http://www.ubuntu.com/download/desktop">Download</a><i class="fab fa-ubuntu"></i>Ubuntu.</h3>
                  <img src="languages/ubuntu11.png" alt="" width="450px" height="400px" >

              
                 <!-- for back  and next buttons -->
                <!--<a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/install0.html"><i class="fas fa-arrow-circle-left"></i> last</a>-->

              

</div>

     
     <div class="lowpanel">
      <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/about.html">About</a>
      <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/contact.html"><i class="fas fa-map-marker-alt"></i>contact us</a>
         <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/feedback.html"><i class="fas fa-comment-dots"></i>feedback</a>
         
         <a href="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/install0.html"><i class="fas fa-hands-helping"></i>Installations help</a>
        
     </div>
     
     <div class="socialmedia" >
      <a href="https://www.facebook.com/amit70512/"  ><i class="fab fa-facebook" style="font-size:48px;"> </i></a>
      <a href="https://www.instagram.com/assemblylearning/"><i class="fab fa-instagram"style="font-size:48px;"></i></a>
      <a href=""><i class="fab fa-twitter" style="font-size:48px;"></i></a>
      
    </div>
    </body>
</html>
