<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>stack</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
 
 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>Moderna</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="" href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a  href="services.html">Services</a></li>

          <li><a href="team.html">Team</a></li>
          <li><a href="contact.html">contact </a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a class='active' href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a href="register.html">Sign in</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">


    
          

 
 </div>
 
    </main><!-- End #main -->
    <h1>Stack <i class="fas fa-layer-group"></i></h1>
    <h3>Stack <i class="fas fa-layer-group"></i> is an area of memory for keeping temporary data. Stack  is used by
<b>CALL</b> instruction to keep return address for procedure, <b>RET</b> instruction gets
this value from the Stack  and returns to that offset. Quite the same thing
happens when <b>INT</b> instruction calls an interrupt, it stores in Stack  flag register,
code segment and offset. <b>IRET</b> instruction is used to return from interrupt call.</h3>
<h3>We can also use the Stack  to keep any other data,</h3>
<h3>there are two instructions that work with the Stack :</h3>
<h3><b>PUSH</b> - stores 16 bit value in the Stack .</h3>
<h3><b>POP</b> - gets 16 bit value from the Stack .</h3>
<p style="border:6px; border-style:solid; border-color:#808080; padding: 1em;">
<br>Syntax for PUSH instruction:
<br>PUSH REG
<br>PUSH SREG
<br>PUSH memory
<br>PUSH immediate
<br>REG: AX, BX, CX, DX, DI, SI, BP, SP.
<br>SREG: DS, ES, SS, CS.
<br>memory: [BX], [BX+SI+7], 16 bit variable, etc...
<br>immediate: 5, -24, 3Fh, 10001101b, etc...</p>
<p style="border:6px; border-style:solid; border-color:#808080; padding: 1em;">
<br>Syntax for POP instruction:
<br>POP REG
<br>POP SREG
<br>POP memory
<br>REG: AX, BX, CX, DX, DI, SI, BP, SP.
<br>SREG: DS, ES, SS, (except CS).
<br>memory: [BX], [BX+SI+7], 16 bit variable, etc...</p>
<h2>Notes:</h2>
<h3> PUSH and POP work with 16 bit values only!</h3>
<h3> Note: PUSH immediate works only on 80186 CPU and later!</h3>
<h3>The Stack  uses LIFO (Last In First Out) algorithm,
this means that if we push these values one by one into the Stack :
1, 2, 3, 4, 5</h3>
<h3>the first value that we will get on pop will be 5, then 4, 3, 2, and only then 1.</h3>
<img src="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/languages/Stack.png">
<h3>It is very important to do equal number of PUSHs and POPs, otherwise the
Stack <i class="fas fa-layer-group"></i> maybe corrupted and it will be impossible to return to operating system.
As you already know we use RET instruction to return to operating system, so
when program starts there is a return address in Stack  (generally it's 0000h).
PUSH and POP instruction are especially useful because we don't have too
much registers to operate with, so here is a trick:</h3>
<h3> Store original value of the register in Stack  (using PUSH).</h3>
<h3> Use the register for any purpose.</h3>
<h3> Restore the original value of the register from Stack  (using POP).</h3>
<h3>Here is an example: </h3>
<p style="border:6px; border-style:solid; border-color:#808080; padding: 1em;">
<br>ORG 100h
<br>MOV AX, 1234h
<br>PUSH AX ; store value of AX in Stack .
<br>MOV AX, 5678h ; modify the AX value.
<br>POP AX ; restore the original value of AX.
<br>RET
<br>END</p>
<h3>Another use of the Stack  is for exchanging the values,
here is an example:</h3>
<p style="border:6px; border-style:solid; border-color:#808080; padding: 1em;">
<br>ORG 100h
<br>MOV AX, 1212h ; store 1212h in AX.
<br>MOV BX, 3434h ; store 3434h in BX
<br>PUSH AX ; store value of AX in Stack .
<br>PUSH BX ; store value of BX in Stack .
<br>POP AX ; set AX to original value of BX.
<br>POP BX ; set BX to original value of AX.
<br>RET
<br>END</p>
<h3>The exchange happens because Stack  uses <b>LIFO</b> (Last In First Out) algorithm,
so when we push <b>1212h</b> and then <b>3434h</b>, on pop we will first get 3434h and
only after it <b>1212h</b>.</h3>
<h3>The Stack  memory area is set by <b>SS</b> (Stack <i class="fas fa-layer-group"></i> Segment) register, and <b>SP</b> (Stack <i class="fas fa-layer-group"></i>
Pointer) register. Generally operating system sets values of these registers on
program start.</h3>
<h3><b>"PUSH source"</b> instruction does the following:</h3>
<h3> Subtract 2 from SP register.</h3>
<h3> Write the value of source to the address SS:SP.</h3>
<h3><b>"POP destination"</b> instruction does the following:</h3>
<h3> Write the value at the address SS:SP to destination.</h3>
<h3> Add <b>2</b> to <b>SP</b> register.</h3>
<h3>The current address pointed by <b>SS:SP</b> is called the <b>top of the Stack </b>.
For <b>COM</b> files Stack  segment is generally the code segment, and Stack  pointer
is set to value of <b>0FFFEh</b>. At the address <b>SS:0FFFEh</b> stored a return address
for <b>RET</b> instruction that is executed in the end of the program.</h3>
<h3>You can visually see the Stack  operation by clicking on <b>[Stack <i class="fas fa-layer-group"></i>]</b> button on
emulator window. The top of the Stack  is marked with "<" sign.</h3>


  <!-- ======= Footer ======= -->
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About Moderna</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Moderna</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>