<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>material</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
 
 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>Moderna</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="" href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a  href="services.html">Services</a></li>

          <li><a href="team.html">Team</a></li>
          <li><a href="contact.html">contact </a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a class='active' href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a href="register.html">Sign in</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">


    
          

 
 </div>
 
    </main><!-- End #main -->
    <h1> General purpose registers</h1>
    <h3>8086 CPU has 8 general purpose registers, each register has its own name:</h3>
    <h3>* AX - the accumulator register (divided into AH / AL).</h3>
    <h3>* BX - the base address register (divided into BH / BL).</h3>
    <h3>* CX - the count register (divided into CH / CL).</h3>
    <h3>* DX - the data register (divided into DH / DL).</h3>
    <h3>* SI - source index register.</h3>
    <h3>* DI - destination index register.</h3>
    <h3>* BP - base pointer.</h3>
    <h3>* SP - stack pointer.</h3>
    <h3>despite the name of a register, it's the programmer who determines the usage
    for each general purpose register. the main purpose of a register is to keep a
    number (variable). the size of the above registers is 16 bit, it's something like:
    0011000000111001b (in binary form), or 12345 in decimal (human) form.</h3>
    <h3>4 general purpose registers (AX, BX, CX, DX) are made of two separate 8 bit
    registers, for example if AX= 0011000000111001b, then AH=00110000b
    and AL=00111001b. therefore, when you modify any of the 8 bit registers 16
    bit register is also updated, and vice-versa. the same is for other 3 registers,
    "H" is for high and "L" is for low part.</h3>
    <h3>because registers are located inside the CPU, they are much faster than
    memory. Accessing a memory location requires the use of a system bus, so it
    takes much longer. Accessing data in a register usually takes no time.</h3>
    <h3>therefore, you should try to keep variables in the registers. register sets are
    very small and most registers have special purposes which limit their use as
    variables, but they are still an excellent place to store temporary data of
    calculations.</h3>
    <h1>Segment registers</h1>
    <h3>* CS - points at the segment containing the current program.</h3>
    <h3>* DS - generally points at segment where variables are defined.</h3>
    <h3>* ES - extra segment register, it's up to a coder to define its usage.</h3>
    <h3>* SS - points at the segment containing the stack.</h3>
    <h3>although it is possible to store any data in the segment registers, this is never
    a good idea. the segment registers have a very special purpose - pointing at
    accessible blocks of memory.</h3>
    <h3>segment registers work together with general purpose register to access any
    memory value. For example if we would like to access memory at the physical
    address 12345h (hexadecimal), we should set the DS = 1230h and SI =
    0045h. This is good, since this way we can access much more memory than
    with a single register that is limited to 16 bit values.</h3>
    <h3>CPU makes a calculation of physical address by multiplying the segment
    register by 10h and adding general purpose register to it (1230h * 10h + 45h= 12345h)</h3>
    <img src="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/languages/s.png" "height=80" width="80">
    <h3>the address formed with 2 registers is called an effective address.
    by default BX, SI and DI registers work with DS segment register;</h3>
    <h3>BP and SP work with SS segment register.</h3>
    <h3>other general purpose registers cannot form an effective address!
    also, although BX can form an effective address, BH and BL cannot.</h3>
    <h1>special purpose registers</h1>
    <h3>* IP - the instruction pointer.</h3>
    <h3>* flags register - determines the current state of the microprocessor.
    IP register always works together with CS segment register and it points to
    currently executing instruction.</h3>
    <h3>flags register is modified automatically by CPU after mathematical
    operations, this allows to determine the type of the result, and to determine
    conditions to transfer control to other parts of the program.</h3>
    <h3>generally you cannot access these registers directly, the way you can access
    AX and other general registers, but it is possible to change values of system
    registers using some tricks that you will learn a little bit later.</h3>
    

  <!-- ======= Footer ======= -->
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About Moderna</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Moderna</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>