<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>variables</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
 
 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>Moderna</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="" href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a  href="services.html">Services</a></li>

          <li><a href="team.html">Team</a></li>
          <li><a href="contact.html">contact </a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a class='active' href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a href="register.html">Sign in</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">


    
          

 
 </div>
 
    </main><!-- End #main -->
    <h1>Variables</h1>
		   <h3>Variable is a memory location. For a programmer it is much easier to have
some value be kept in a variable named <b>"var1"</b> then at the address
<B>5A73:235B,</b> especially when you have 10 or more variables.</h3>
<h3>Our compiler supports two types of variables: <b>BYTE and WORD.</b> </h3>
<p style="border:6px; border-style:solid; border-color:#808080; padding: 1em;">Syntax for a variable declaration:
<br>name <b>DB</b> value
<br>name <b>DW</b> value
<br><b>DB</b> - stays for Define Byte.
<br><b>DW</b> - stays for Define Word.
<br>name - can be any letter or digit combination, though it should start with a letter. It's possible
to declare unnamed variables by not specifying the name (this variable will have an address
but no name).
<br>value - can be any numeric value in any supported numbering system (hexadecimal, binary, or
decimal), or "?" symbol for variables that are not initialized. </p>
<h3>As you probably know from part 2 of this tutorial
MOV instruction is used to</h3>
<h3>copy values from source to destination.</h3>
<h3>Let's see another example with <b>MOV</b> instruction:</h3>
<p style="border:4px; border-style:solid; border-color:#808082; padding: 1em;"><br>ORG 100h
<br>MOV AL, var1
<br>MOV BX, var2
<br>RET ; stops the program.
<br>VAR1 DB 7
<br>var2 DW 1234h</p>
<h2>Copy the above code to emu8086 source editor, and press F5 key to compile
and load it in the emulator. You should get something like: </h2>
<img src="file:///C:/Users/cw/Desktop/htmlbasic/assemblylogin/languages/variables.png">
<h3>As you see this looks a lot like our example, except that variables are replaced
with actual memory locations. When compiler makes machine code, it
automatically replaces all variable names with their <b>offsets</b>. By default
segment is loaded in <b>DS</b> register (when <b>COM</b> files is loaded the value of <b>DS</b>
register is set to the same value as <b>CS</b> register - code segment).</h3>
<h3>In memory list first row is an <b>offset</b>, second row is a <b>hexadecimal value</b>,
third row is <b>decimal value</b>, and last row is an <b>ASCII</b> character value.</h3>
<h3>Compiler is not case sensitive, so <b>"VAR1"</b> and <b>"var1"</b> refer to the same
variable.</h3>
<h3>The offset of <b>VAR1</b> is <b>0108h</b>, and full address is <b>0B56:0108</b>.</h3>
<h3>The offset of <b>var2</b> is <b>0109h</b>, and full address is <b>0B56:0109</b>, this variable is a
<b>WORD</b> so it occupies <b>2 BYTES</b>. It is assumed that low byte is stored at lower
address, so <b>34h</b> is located before <b>12h</b>.</h3>
<h3>You can see that there are some other instructions after the <b>RET</b> instruction,
this happens because disassembler has no idea about where the data starts, it
just processes the values in memory and it understands them as valid 8086
instructions (we will learn them later)</h3>
<h3>You can even write the same program using <b>DB</b> directive only:</h3>
<p style="border:8px; border-style:solid; border-color:#808080; padding: 1em;"><br>ORG 100h ; just a directive to make a simple .com file
<br>(expands into no code).
<br>DB 0A0h
<br>DB 08h
<br>DB 01h
<br>DB 8Bh
<br>DB 1Eh
<br>DB 09h
<br>DB 01h
<br>DB 0C3h
<br>DB 7
<br>DB 34h
<br>DB 12h</p>
<h3>Copy the above code to emu8086 source editor, and press <b>F5</b> key to compile
and load it in the emulator. You should get the same disassembled code, and
the same functionality!</h3>
<h3>As you may guess, the compiler just converts the program source to the set of
bytes, this set is called <b>machine code</b>, processor understands the <b>machine
code</b> and executes it.</h3>
<h3><b>ORG 100h</b> is a compiler directive (it tells compiler how to handle the source
code). This directive is very important when you work with variables. It tells
compiler that the executable file will be loaded at the <b>offset</b> of 100h (256
bytes), so compiler should calculate the correct address for all variables when
it replaces the variable names with their <b>offsets</b>. Directives are never
converted to any real <b>machine code</b>.</h3>
<h3>Why executable file is loaded at <b>offset</b> of <b>100h</b>? Operating system keeps
some data about the program in the first 256 bytes of the <b>CS</b> (code segment),
such as command line parameters and etc.</h3>
<h3>Though this is true for <b>COM</b> files only, <b>EXE</b> files are loaded at offset of <b>0000</b>,
and generally use special segment for variables. Maybe we'll talk more about
<b>EXE</b> files later.</h3>


  <!-- ======= Footer ======= -->
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About Moderna</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Moderna</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>